#editor { 
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#warning-section {
	display: none;
	position: absolute;
	right:30px;
	top:30px;
	width:400px;
	height:150px;
	z-index: 999 !important;
	float:right;
}

#warning-section img {
	margin-top:25px;
}

#warning-section #warning-msg {
	width:270px;
	height:120px;
	padding:10px;
	border-radius:10px;
	background-color:#f1f1f1;
	box-shadow: 3px 6px 5px 2px #aaa;
	float:right;
}